body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #CECECE;
}

#page {
    padding: 25px;
}

#form {
    padding: 15px;
}

#view {
    margin-right: 25px;
}

#title {
    width: 100%;
    padding: 1px;
    font-size: 24px;
}

#description {
    width: 100%;
    resize: none;
    font-size: 18px;
}

#textAreaContainer {
    margin-top: 15px;
}

#submitButtonContainer {
    margin-top: 15px;
}

#submitButton {
    width: 100%;
    text-align: center;
    background-color: #7CB342;
    padding: 25px;
}

.component {
    width: 100%;
}

.page-title {
    text-align: center;
    padding: 15px;
}

.box {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 0 1px 0;
    padding: 15px;
}

.todo-container {
    margin-top: 15px;
}

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}